@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

.glyphicon{
    font-size: 10px; 
}

#send-trade-modal
{
	margin-left: 17%;
}

#send-trade-modal #player
{
	text-align: center;
	margin-top: -25px;
	margin-bottom: 20px;
	margin-left: 36%;
	width: 30%;
}

#send-trade-modal #player label
{
	margin-left: -30%;
	width: 160%;
}

#send-trade-modal #player .input-group
{
	width: 130%;
	margin: 0 auto;
	margin-left: -12px;
}

#send-trade-modal .modal-content
{
	width: 63%;
}

#send-trade-modal .modal-body 
{
	margin-bottom: -5%;
}

#send-trade-modal .modal-body .row 
{
	margin-bottom: 3px;
	font-size: 75%;
}

#send-trade-modal .modal-body form .row .col-md-5
{
	margin: 0px auto;
	margin-left: 5%;
}

#send-trade-modal .modal-body form .row .col-md-5 .input-group
{
	margin: 0px auto;
	width: 130px;
}

#send-trade-modal .modal-body form .row .col-md-5 .input-group input
{
	width: 100%;
}

#send-trade-modal .modal-body .row:nth-child(2)
{
	margin-top: -15px;
	text-align: center; 
	font-size: 110%;
}

#send-trade-modal .modal-body form, button[id="send-trade-button"]
{
	margin-top: 15px;
	margin-left: -1%;
	width: 102%;
}







